/* font-family: 'Anton', sans-serif;
font-family: 'Bangers', cursive;
font-family: 'Roboto Mono', monospace; */

body,
html {
    margin: 0;
    padding: 0;
}

button {
    all: unset;
}

* {
    /* box-sizing: border-box; */
    font-family: 'Anton', sans-serif;
    color: #242424;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container {
    width: 340px;
    background-color: #FDFF92;
    border: 1px solid #242424;
    border-radius: 20px;
    margin: 20px;
}

.scoreboard,
.display,
.playarea,
.gamelog {
    margin: 20px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #F4DEFF;
    border: 1px solid #242424;
    border-radius: 10px;
    width: 70%;
    height: 40px;
    margin: 40px auto;
    padding: 0px 10px;
    font-size: 1.2em;
}

#score {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 2rem;

    background-color: #ECC2FF;
    border-radius: 10px;
    border: 1px solid #242424;
    padding: 10px 20px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-player,
.display-cpu {
    height: 130px;
    width: 100%;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    border: 1px solid #242424;
}

.display-player {
    margin-bottom: 20px;
}

#vs {
    font-family: 'Bangers', sans-serif;
    font-size: 5em;
    color: #F5F864;
    margin: 0;

    position: absolute;

    -webkit-text-stroke: 2px #242424;

    text-shadow: -5px 5px 0 #242424;
}

.playarea {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    background-color: #F4DEFF;
    width: auto;
    margin: 0 20px;
    padding: 20px 10px;
    border: 1px solid #242424;
    align-self: normal;
}

.button {
    flex: 1 1 100%;

    display: flex;
    justify-content: center;
    font-size: 1.2em;
    background-color: #ECC2FF;
    padding: 4px;
    border: 1px solid #242424;
}

.selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.challenge {
    background-color: #F86E6E;
    border: 1px solid #242424;
    margin: 20px;
    padding: 10px 20px;
}

.gamelog p,
.gamelog #roundcounter {
    font-family: 'Roboto Mono', monospace;
}

#roundcounter {
    font-weight: bold;
}

/* Game stat modifiers */

.start {
    background-color: #ECF3FB;
}

.win {
    background-color: #6EF88D;
}

.loss {
    background-color: #F86E6E;
}

.tie {
    background-color: #ECF3FB;
}

#playhistory {
    background-color: beige;
    flex: 1;
    height: 300px;
    overflow: auto;
}

.playhistorylistitem {
    color: #242424;
}

.playhistorylistitem .tie {
    background-color: #ECF3FB;
}

.playhistorylistitem .loss {
    background-color: #F86E6E;
}

.playhistorylistitem .win {
    background-color: #6EF88D;
}


.popup {
    height: 100px;
    width: 100px;
    background-color: yellow;
    visibility: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup.show {
    visibility: visible;
}