body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


.main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.maincontainer {
    display: flex;

}



/* Game stat modifiers */

.start {
    background-color: lightgray;
}

.win {
    background-color: green;
}

.loss {
    background-color: red;
}

.tie {
    background-color: gray;
}

#playhistory {
    background-color: beige;
    flex: 1;
    height: 300px;
    overflow: auto;
}

.playhistorylistitem {
    color: black;
}

.playhistorylistitem .tie {
    background-color: rgb(184, 183, 185);
}

.playhistorylistitem .loss {
    background-color: rgb(226, 43, 43);
}

.playhistorylistitem .win {
    background-color: rgb(58, 226, 43);
}


.popup {
    height: 100px;
    width: 100px;
    background-color: yellow;
    visibility: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup.show {
    visibility: visible;
}